/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  body {
    line-height: 1; }
  ol, ul {
    list-style: none; }
  blockquote, q {
    quotes: none; }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none; }
  table {
    border-collapse: collapse;
    border-spacing: 0; }


/* #Basic Styles
================================================== */
  body {
    background: #fff;
    color: #333;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
  h1, h2, h3, h4, h5, h6 {
    color: #181818;
    font-family: "Georgia", "Times New Roman", serif;
    font-weight: normal; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
  h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
  h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
  h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
  h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
  h5 { font-size: 17px; line-height: 24px; }
  h6 { font-size: 14px; line-height: 21px; }

  p { margin: 0 0 20px 0; }
  p img { margin: 0; }

  em { font-style: italic; }
  strong { font-weight: bold; color: #333; }
  small { font-size: 80%; }


/*russell*/

.container {
  max-width: 640px;
  width: 100%;
  padding: 1em;
  margin: 0 auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
p {
  line-height: 1.2;
}
p, h1,h2,h3,h4,a {
  color: #333;
}
a, a:visited {
  color: #ff0080;
  text-decoration: none;
}
a:hover {
  color: #ff0080;
}

h1 {
  font-weight: 700;
}

.links p {
  text-align: center;
}

.links a {
  text-transform: uppercase;
}

footer p {
  text-align: center;
}

/*.nombre {
  margin: 0.5em 0 0 0;
}
.nombre a {
  text-decoration: none;
  color: #333;
}*/

.subtitle {
  margin-top: 1em;
  font-size: 1.2em;
}

.subtitle span {
  font-weight: 700;
}

.posts {
  margin: 2em auto;
}

.postTitle {
  margin-bottom: 0.5em;
}

.post {
  margin: 1em 0;
  padding: 2em 0 1em 0; 
  border-bottom: 1px dashed #ccc;
}

.post p {
  margin: 0 0 0.25em 0;
}

p.date {
  margin: 0;
}

.postTitle {
  font-weight: 700;
}

.info {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 2em 0;
  padding: .25em;
  text-align: center;
  background: #1a1a1a;
}

.experience a {
  text-transform: uppercase;
  font-size: 0.8em;
}
a.story {
  padding-right: 0.5em;
}

a.vid {
  padding-left: 1em;
  border-left: 1px solid #9B1518;
}

.embed-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
    .subtitle {
      margin-top: 0;
    }
    .posts {
      margin-top: 0;
    }
    .post {
      padding: 0.5em 0;
    }
    .postTitle {
      font-size: 1.5em;
    }
  }


.mobile-video {
  margin: 4em 0 2em 0;
}

.mobile-video p {
  text-align: center;
  margin: 0.5em 0;
  text-transform: uppercase;
}

.mobile-video video {
  margin: 0 auto;
  max-width: 100%;
  border: 4px solid #1a1a1a;
  display: block;
}