/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
       url('fonts/roboto-v15-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/roboto-v15-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('fonts/roboto-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/roboto-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Style */
body {
	background: #fff;
	color: #454545;
	font-size: 17px;
	line-height: 1.4;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}

p { 
	margin-bottom: 1em;
}

em { font-style: italic; }
strong { font-weight: bold; }
small { font-size: 80%; }

img {
	display: block;
	width: 100%;
}

a, a:visited {
	font-weight: 700;
	text-decoration: none;
	color: #181818;
}

a:hover {
	text-decoration: none;
	color: #181818;
}



.intro {
	max-width: 480px;
}

.intro-hed {
	font-size: 1.35em;
	margin-bottom: 1em;
}

.container {
	width: 100%;
	padding: 1em;
	margin: 0 auto;
}

.projects {
	height: 100%;
	overflow: hidden;
	max-width: 1620px;
}

.project {
	padding: 1em 0;
}

.project__description {
	margin-top: 0.5em;
}

footer {
	margin-top: 4em;
}

footer p {
	text-align: center;
}

.pad {
	padding: 1em;
}

@media only screen and (min-width: 540px) {
	.intro {
		padding: 1em;
	}
	.project {
		float: left;
		width: 50%;
		padding: 1em;
	}
	.project:nth-child(2n + 1) {
		clear: both;
	}
}

@media only screen and (min-width: 960px) {
	.project {
		width: 33.3%;
	}
	.project:nth-child(2n + 1) {
		clear: none;
	}
	.project:nth-child(3n + 1) {
		clear: both;
	}
}

.embed-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
